.sharingan{
    background-color: red;
    width: 200px;
    height: 200px;
    border: solid black;
    border-radius:  50%;
    position: absolute;
    top: 9%;
    left: 25%;
    animation-name: sharingan;
    animation-duration: 5s; /* Duración de la animación en segundos */
    animation-timing-function: linear; /* Función de temporización de la animación */
    animation-iteration-count: infinite; /* Número de veces que se repite la animación (en este caso, infinito) */
}
.linea_Interior{
    width: 70%;
    height: 70%;
    outline-style: solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circulo{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: black;
    top: 20%;
    border-radius: 50%;
}
.triangulo{
    height: 18px;
    width: 10px;
    background-color: black;
    position: relative;
    top: -9px;
    left: 4px;
    border-radius: 0% 145% 0% 90%;
    transform: rotateZ(60deg) skewY(30deg);
}

@keyframes sharingan{
    to {transform: rotate(360deg);}
}